body{
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    background-color: #fff;
    color: #222;
}

.header-tyc{
    background-color: #fff;
    border-bottom: 1px solid #eee;
    padding: 1rem;
    text-align: center;
}

.logo{
    font-size: 3rem;
    font-weight: 700;
}

.tycsports-blue{
    color: #0033a0;
}

.contenedor{
    max-width: 900px;
    margin: 2rem auto;
    padding: 0 1rem;
}

.breadcrumb{
    font-size: 0.9rem;
    color: #666;
    margin-bottom: 1rem;
}

.titulo-noticia{
    font-style: "Albert Sans", sans-serif;
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.bajada{
    font-size: 1rem;
    color: #444;
    margin-bottom: 50px;
}

.bajada2{
    font-style: "Albert Sans", sans-serif;
    font-size: 13px;
    color: #7b7b7b;
    margin-bottom: 130px;
    border-radius: 8px;;
}

.fecha{
    font-size: 0.85rem;
    color: #888;
    margin-bottom: 1rem;
}

.imagen-principal{
    width: 100%;
    max-width: 600px;
    display: block;
    margin-top: 30px;
    border-radius: 8px;
}

.contenido p{
    line-height: 1.6;
    margin-bottom: 1rem;
}

article{
    margin-bottom: 200px;
}

.btn-nba{
    display: inline-block;
    padding: 10px 20px;
    background-color: #fff;
    color: #1c1c1c;
    text-decoration: none;
    border-style: solid;
    border-radius: 6px;
    font-weight: bold;
    transition: background-color 0.3s;
    margin-bottom: 100px;
}

.enlace-original{
    margin-top: 2rem;
    text-align: center;
}

.enlace-original a{
    text-decoration: none;
    color: #0033a0;
    font-weight: bold;
}